'scopeName': 'source.ptrs'
'name': 'PointerScript'
'fileTypes': [
	'ptrs'
]
'repository': {
	'string_escaped_char': {
		'patterns': [
			{
				'match': '\\\\([0-7]+|x[0-9a-fA-F]+|.)',
				'name': 'constant.character.escape.ptrs'
			},
			{
				'match': '%-?\\+? ?#?0?(\\d+|\\*)?(\\.(\\d+|\\*))?((hh)|h|l|(ll)|j|z|t|L)?[diuoxXfFeEgGaAcspn%]',
				'name': 'constant.other.placeholder.ptrs'
			}
		]
	},
	'string_insertions': {
		'patterns': [
			{
				'match': '\\$[a-zA-Z0-9_]+\\b'
				'name': 'constant.other.placeholder.ptrs'
			},
			{
				'begin': '\\$(%[^{]+)?\\{'
				'beginCaptures': [
					{
						'name': 'constant.other.placeholder.ptrs'
					}
				]
				'end': '\\}'
				'endCaptures': [
					{
						'name': 'constant.other.placeholder.ptrs'
					}
				]

				'patterns': [
					{
						'include': 'source.ptrs'
					}
				]
			}
		]
	},
	'comment_open': {
		'patterns': [
			{
				'match': '/\\*'
				'name': 'invalid.illegal.ptrs'
			}
		]
	}
}
'patterns': [
	{
		'name': 'comment.line.ptrs'
		'match': '//[^\\n]*'
	}
	{
		'name': 'comment.line.shebang.ptrs'
		'match': '#![^\\n]*'
	}
	{
		'name': 'comment.block.ptrs'
		'begin': '/\\*'
		'end': '\\*/'
		'patterns': [
			{
				'include': '#comment_open'
			}
		]
	}
	{
		'begin': '\\{'
		'end': '\\}'
		'patterns': [
			{
				'include': 'source.ptrs'
			}
		]
	}
	{
		'match': '(?:<|:|(sizeof\\s*\\(?))\\s*(undefined|int|float|native|pointer|function|struct|string|' +
			'char|short|int|long|longlong|i8|i16|i32|i64|' +
			'uchar|ushort|uint|ulong|ulonglong|u8|u16|u32|u64|' +
			'single|double|native|pointer|ssize|size|intptr|uintptr|ptrdiff)\\b'
		'captures': [
			{}
			{
				'name': 'keyword.operator.ptrs'
			}
			{
				'name': 'support.type.ptrs'
			}
		]
	}
	{
		'match': '\\b(new|new_stack)\\s+(array)\\b'
		'captures': [
			{}
			{
				'name': 'keyword.operator.ptrs'
			}
			{
				'name': 'support.type.ptrs'
			}
		]
	}
	{
		'name': 'keyword.operator.ptrs'
		'match': '\\b(cast|cast_stack|as|sizeof|typeof|type|new|new_stack|' +
			'map|map_stack|this|instanceof)\\b'
	}
	{
		'name': 'keyword.control.ptrs'
		'match': '\\b(struct|constructor|destructor|operator|public|internal|private|static|'+
			'get|set|delete|function|var|const|import|from|if|else|switch|case|default|yield|'+
			'scoped|while|do|for|foreach|in|try|catch|finally|throw|continue|break|return)\\b'
	}
	{
		'begin': '\\b(asm)\\s*\\w*(?:\\s*,\\s*\\w+)*'
		'beginCaptures': [
			{}
			{
				'name': 'keyword.control.ptrs'
			}
		]
		'end': '\\}'
		'patterns': [
			{
				'include': 'source.s'
			}
		]
	}
	{
		'name': 'constant.language.ptrs'
		'match': '\\b(true|false|null|NULL|VARSIZE|PTRSIZE|undefined|NaN|PI|E)\\b'
	}
	{
		'name': 'string.quoted.other.ptrs'
		'begin': '`'
		'end': '`'
	}
	{
		'begin': '"'
		'beginCaptures': [
			{
				'name': 'string.quoted.double.ptrs'
			}
		]
		'end': '"'
		'endCaptures': [
			{
				'name': 'string.quoted.double.ptrs'
			}
		]

		'patterns': [
			{
				'include': '#string_escaped_char'
			},
			{
				'include': '#string_insertions'
			},
			{
				'match': '.'
				'name': 'string.quoted.double.ptrs'
			}
		]
	}
	{
		'name': 'string.quoted.single.ptrs'
		'begin': '\''
		'end': '\''
		'patterns': [
			{
				'include': '#string_escaped_char'
			}
		]
	}
	{
		'name': 'constant.numeric.ptrs'
		'match': '\\b((0x[0-9a-fA-F]+)|([0-9]+((\\.[0-9]+)|[fF])?))\\b'
	}
	{
		'match': '([a-zA-Z_][a-zA-Z0-9_]*)(!([a-zA-Z0-9]+))?(?=\\s*\\()'
		'captures': [
			{}
			{
				'name': 'support.function.any-method.ptrs'
			}
			{}
			{
				'name': 'support.type.ptrs'
			}
		]
	}
]
